<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ang</key>
	<string>ang</string>
	<key>ban</key>
	<string>ban</string>
	<key>bay</key>
	<string>bay</string>
	<key>ben</key>
	<string>ben</string>
	<key>bin</key>
	<string>bin</string>
	<key>bom</key>
	<string>bom</string>
	<key>can</key>
	<string>can</string>
	<key>cha</key>
	<string>cha</string>
	<key>chan</key>
	<string>chan</string>
	<key>chen</key>
	<string>trần</string>
	<key>cheng</key>
	<string>thành</string>
	<key>cho</key>
	<string>cho</string>
	<key>choi</key>
	<string>chôi</string>
	<key>com</key>
	<string>com</string>
	<key>con</key>
	<string>con</string>
	<key>cun</key>
	<string>cun</string>
	<key>dan</key>
	<string>đan</string>
	<key>dao</key>
	<string>đao</string>
	<key>day</key>
	<string>đây</string>
	<key>den</key>
	<string>đen</string>
	<key>don</key>
	<string>đôn</string>
	<key>dua</key>
	<string>đu-a</string>
	<key>giao</key>
	<string>giao</string>
	<key>hai</key>
	<string>hai</string>
	<key>ham</key>
	<string>hầm</string>
	<key>han</key>
	<string>han</string>
	<key>hang</key>
	<string>hang</string>
	<key>hoe</key>
	<string>huê</string>
	<key>hong</key>
	<string>hồng</string>
	<key>hui</key>
	<string>huy</string>
	<key>hun</key>
	<string>hun</string>
	<key>keng</key>
	<string>keng</string>
	<key>kha</key>
	<string>kha</string>
	<key>khan</key>
	<string>khan</string>
	<key>khao</key>
	<string>khảo</string>
	<key>khi</key>
	<string>khi</string>
	<key>kia</key>
	<string>ki-a</string>
	<key>kim</key>
	<string>kim</string>
	<key>lai</key>
	<string>lai</string>
	<key>lang</key>
	<string>lang</string>
	<key>leo</key>
	<string>lê-ô</string>
	<key>lim</key>
	<string>lim</string>
	<key>lin</key>
	<string>lâm</string>
	<key>long</key>
	<string>lon</string>
	<key>mai</key>
	<string>mai</string>
	<key>man</key>
	<string>man</string>
	<key>mao</key>
	<string>mao</string>
	<key>men</key>
	<string>men</string>
	<key>meng</key>
	<string>mạnh</string>
	<key>min</key>
	<string>min</string>
	<key>mom</key>
	<string>môm</string>
	<key>nan</key>
	<string>nan</string>
	<key>nghe</key>
	<string>nghê</string>
	<key>pan</key>
	<string>pan</string>
	<key>pin</key>
	<string>pin</string>
	<key>ran</key>
	<string>ran</string>
	<key>rao</key>
	<string>rao</string>
	<key>ria</key>
	<string>ri-a</string>
	<key>rim</key>
	<string>rim</string>
	<key>rui</key>
	<string>ru-i</string>
	<key>sam</key>
	<string>xam</string>
	<key>say</key>
	<string>xây</string>
	<key>sen</key>
	<string>xen</string>
	<key>seo</key>
	<string>xơ</string>
	<key>sim</key>
	<string>xim</string>
	<key>son</key>
	<string>xôn</string>
	<key>song</key>
	<string>xông</string>
	<key>sun</key>
	<string>xan</string>
	<key>sung</key>
	<string>xung</string>
	<key>tan</key>
	<string>tan</string>
	<key>ten</key>
	<string>ten</string>
	<key>thai</key>
	<string>thai</string>
	<key>thanh</key>
	<string>thanh</string>
	<key>the</key>
	<string>đơ</string>
	<key>tim</key>
	<string>tim</string>
	<key>tin</key>
	<string>tin</string>
	<key>toe</key>
	<string>tâu</string>
	<key>tom</key>
	<string>tôm</string>
	<key>tong</key>
	<string>tông</string>
	<key>trang</key>
	<string>trang</string>
	<key>tum</key>
	<string>tum</string>
	<key>van</key>
	<string>van</string>
	<key>vin</key>
	<string>vin</string>
</dict>
</plist>
